<div class="modal-header">
  <h3 class="modal-title" id="nav-away-modal-title">
		<strong>{{entryName}}	- Selections for Week {{selectionsWeek}}</strong>
  </h3>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-12">
						<span class="entriesHeader">
						</span>
					</div>
				</div>
				<div 
					class="row"
					ng-if="!noSelectionsAvailable"
					ng-repeat="selection in selectionsOdds track by $index"
				>
					<div class="col-md-1">
						<span 
							class="entriesData"
						>
							{{selection.team}}
						</span>
					</div>
					<div class="col-md-1">
						<span 
							class="entriesData pull-left"
							ng-if="selection.spread > 0"
						>
							+{{selection.spread}}
						</span>
						<span 
							class="entriesData pull-left"
							ng-if="selection.spread < 0"
						>
							{{selection.spread}}
						</span>
						<span 
							class="entriesData pull-left"
							ng-if="!selection.spread > 0 && !selection.spread < 0"
						>
							PICK
						</span>
					</div>
					<div class="col-md-10">
						{{allTeamsCounts[$index]}} selections out of {{selectionCount}} this week
					</div>
				</div>
				<div 
					class="row"
					ng-if="noSelectionsAvailable"
				>
					<div class="col-md-12">
						<span 
							class="entriesData"
						>
							No selections
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-show="!currentlyAvailable">
  <button 
		type="button" 
		class="btn btn-primary pull-left" 
		ng-click="processWeek(entryName, selectionsWeek - 1, selectionsYear)"
		ng-show="selectionsWeek > 1"
	>
		<i class="fa fa-arrow-left"></i> &nbsp; Week {{selectionsWeek - 1}}
  </button>
  <button 
		type="button" 
		class="btn btn-primary pull-left" 
		ng-click="processWeek(entryName, selectionsWeek + 1, selectionsYear)"
		ng-show="selectionsWeek < 17"
	>
		<i class="fa fa-arrow-right"></i> &nbsp; Week {{selectionsWeek + 1}}
  </button>
</div>






